presentation/Service References/OrganizationProjectServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/wcf/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/wcf/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/wcf/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrganizationProject.Service.ServiceObjects.Responces" />
      <xsd:import schemaLocation="http://localhost/wcf/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrganizationProject.Service.ServiceObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IService_getEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IService_getAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_deleteEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IService_deleteEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_editManagerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:editManagerByID" />
  </wsdl:message>
  <wsdl:message name="IService_editManagerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:editManagerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:addEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_addEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getChartScheme_InputMessage">
    <wsdl:part name="parameters" element="tns:getChartScheme" />
  </wsdl:message>
  <wsdl:message name="IService_getChartScheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChartSchemeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getVerboseChartScheme_InputMessage">
    <wsdl:part name="parameters" element="tns:getVerboseChartScheme" />
  </wsdl:message>
  <wsdl:message name="IService_getVerboseChartScheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVerboseChartSchemeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getEmployeeRoleByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeRoleByID" />
  </wsdl:message>
  <wsdl:message name="IService_getEmployeeRoleByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeRoleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getEmployeeRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeRoles" />
  </wsdl:message>
  <wsdl:message name="IService_getEmployeeRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getOrganizationByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrganizationByID" />
  </wsdl:message>
  <wsdl:message name="IService_getOrganizationByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrganizationByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getEmployeeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getEmployeeByID" message="tns:IService_getEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getEmployeeByIDResponse" message="tns:IService_getEmployeeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllEmployees" message="tns:IService_getAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllEmployeesResponse" message="tns:IService_getAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmployeeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/deleteEmployeeByID" message="tns:IService_deleteEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/deleteEmployeeByIDResponse" message="tns:IService_deleteEmployeeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editManagerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/editManagerByID" message="tns:IService_editManagerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/editManagerByIDResponse" message="tns:IService_editManagerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addEmployee" message="tns:IService_addEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addEmployeeResponse" message="tns:IService_addEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChartScheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getChartScheme" message="tns:IService_getChartScheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getChartSchemeResponse" message="tns:IService_getChartScheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVerboseChartScheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getVerboseChartScheme" message="tns:IService_getVerboseChartScheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getVerboseChartSchemeResponse" message="tns:IService_getVerboseChartScheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRoleByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getEmployeeRoleByID" message="tns:IService_getEmployeeRoleByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getEmployeeRoleByIDResponse" message="tns:IService_getEmployeeRoleByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getEmployeeRoles" message="tns:IService_getEmployeeRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getEmployeeRolesResponse" message="tns:IService_getEmployeeRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrganizationByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getOrganizationByID" message="tns:IService_getOrganizationByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getOrganizationByIDResponse" message="tns:IService_getOrganizationByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmployeeByID">
      <soap:operation soapAction="http://tempuri.org/IService/getEmployeeByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IService/getAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployeeByID">
      <soap:operation soapAction="http://tempuri.org/IService/deleteEmployeeByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editManagerByID">
      <soap:operation soapAction="http://tempuri.org/IService/editManagerByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/addEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChartScheme">
      <soap:operation soapAction="http://tempuri.org/IService/getChartScheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVerboseChartScheme">
      <soap:operation soapAction="http://tempuri.org/IService/getVerboseChartScheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRoleByID">
      <soap:operation soapAction="http://tempuri.org/IService/getEmployeeRoleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRoles">
      <soap:operation soapAction="http://tempuri.org/IService/getEmployeeRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationByID">
      <soap:operation soapAction="http://tempuri.org/IService/getOrganizationByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/wcf/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>