presentation/Service References/OrganizationProjectServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrganizationProject.Service.ServiceObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrganizationProject.Service.ServiceObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDTObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDTObject" nillable="true" type="tns:EmployeeDTObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDTObject" nillable="true" type="tns:ArrayOfEmployeeDTObject" />
  <xs:complexType name="EmployeeDTObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeRoleID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      <xs:element minOccurs="0" name="ReportToEmployeeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReportingManagees" nillable="true" type="tns:ArrayOfEmployeeDTObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDTObject" nillable="true" type="tns:EmployeeDTObject" />
  <xs:complexType name="ArrayOfEmployeeVerbDTObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeVerbDTObject" nillable="true" type="tns:EmployeeVerbDTObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeVerbDTObject" nillable="true" type="tns:ArrayOfEmployeeVerbDTObject" />
  <xs:complexType name="EmployeeVerbDTObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      <xs:element minOccurs="0" name="ReportToEmployeeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReportingManagees" nillable="true" type="tns:ArrayOfEmployeeVerbDTObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeVerbDTObject" nillable="true" type="tns:EmployeeVerbDTObject" />
  <xs:complexType name="ArrayOfEmployeeRoleDTObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeRoleDTObject" nillable="true" type="tns:EmployeeRoleDTObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeRoleDTObject" nillable="true" type="tns:ArrayOfEmployeeRoleDTObject" />
  <xs:complexType name="EmployeeRoleDTObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeRoleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeRoleID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeRoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeRoleDTObject" nillable="true" type="tns:EmployeeRoleDTObject" />
  <xs:complexType name="OrganizationDTObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganizationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationDTObject" nillable="true" type="tns:OrganizationDTObject" />
</xs:schema>